:root {
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--clr-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: #fceee6;
}

.body-sm {
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
