.btn {
  --btn-border-color: var(--clr-orange);
  --btn-bg: var(--clr-orange);
  --btn-clr: #fff;

  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: var(--gap-sm);
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  padding: 11px 24px;
  background: var(--btn-bg);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--btn-clr);
  fill: var(--btn-clr);
  transition: var(--transition);
  cursor: pointer;

  &:hover,
  &:focus {
    --btn-border-color: var(--clr-dark);
    --btn-bg: var(--clr-dark);
  }

  &:active {
    --btn-border-color: var(--clr-orange-dark);
    --btn-bg: var(--clr-orange-dark);
  }

  &:disabled,
  &[disabled] {
    --btn-border-color: var(--clr-dark);
    --btn-bg: var(--clr-dark);
    opacity: 0.2;
    cursor: auto;
  }

  svg {
    transition: var(--transition);
  }
}

.btn-secondary {
  --btn-border-color: var(--clr-dark);
  --btn-bg: transparent;
  --btn-clr: var(--clr-dark);

  &:active {
    --btn-border-color: var(--clr-dark);
    --btn-bg: var(--clr-neutral);
  }

  &:hover,
  &:focus {
    --btn-border-color: var(--clr-dark);
    --btn-bg: var(--clr-orange-light);
  }

  &:disabled,
  &[disabled] {
    --btn-border-color: var(--clr-dark);
    --btn-bg: transparent;
    --btn-clr: var(--clr-dark);
    opacity: 0.2;
  }
}

.btn-square {
  border-radius: 0;
  padding: 11px 12px;
  line-height: 1;

  &:hover,
  &:focus {
    --btn-border-color: rgba(11, 5, 0, 0.15);
    --btn-bg: transparent;
    --btn-clr: var(--clr-dark);
  }

  &:active {
    --btn-border-color: var(--clr-orange-darker);
    --btn-bg: var(--clr-orange-darker);
    --btn-clr: #fff;
  }

  &:disabled,
  &[disabled] {
    --btn-border-color: var(--clr-orange);
    --btn-bg: var(--clr-orange);
    --btn-clr: var(--clr-dark);
    opacity: 0.2;
  }
}

.btn-sm {
  padding: 7px 20px;
}

a {
  &:active {
    opacity: 0.8;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.2;
  }
}
