:root {
  --min-width: auto;
  --max-width: 343px;
  --space: var(--gap-md);

  @media screen and (min-width: 768px) {
    --max-width: 705px;
    --space: var(--gap-xl);
  }

  @media screen and (min-width: 1440px) {
    --max-width: 1312px;
    --space: var(--gap-xxl);
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-xxl) 0;
}

.grid-content {
  width: 100%;
  max-width: var(--max-width);
  padding-left: var(--space);
  padding-right: var(--space);
}

.grid-content-full {
  max-width: 100%;
}

.placement-center {
  align-self: center;
  align-items: center;
}

.placement-vertical-center {
  align-self: center;
}
