:root {
  --min-width: auto;
  --max-width: 343px;
  --space: var(--gap-md);

  @media screen and (min-width: 768px) {
    --max-width: 705px;
    --space: var(--gap-xl);
  }

  @media screen and (min-width: 1440px) {
    --max-width: 1312px;
    --space: var(--gap-xxl);
  }
}

.grid-container {
  --flap: minmax(var(--space), 1fr);
  --content: minmax(var(--min-width), var(--max-width));

  display: grid;
  grid-template-columns:
    var(--flap)
    var(--content)
    var(--flap);
  padding: var(--gap-xxl) 0;
}

.grid-content {
  grid-column: 2 / 3;
}

.grid-content-full {
  grid-column: 1 / -1;
}

.placement-center {
  align-self: center;
  align-items: center;
}

.placement-vertical-center {
  align-self: center;
}
