<section class="feedbacks" id="feedbacks">
  
   <div class="container">
    feedbacks
    <!-- HTML для слайдера -->
  <div class="splide feedbacks-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Ваш контент для першого слайду</li>
        <li class="splide__slide">Ваш контент для другого слайду</li>
      </ul>
    </div>

    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">Prev</button>
      <button class="splide__arrow splide__arrow--next">Next</button>
    </div>
  </div>
  <!-- кінець HTML для сладера -->
   </div>
   
</section>
