<section class="hero" id="hero">
  <div class="container">
    hero
<!-- HTML для слайдера -->
  <div class="splide hero-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">контент для першого слайду</li>
        <li class="splide__slide">контент для другого слайду</li>
      </ul>
    </div>

    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">Prev</button>
      <button class="splide__arrow splide__arrow--next">Next</button>
    </div>
  </div>
  <!-- кінець HTML для сладера -->
  </div>
  
</section>
