.footer {
  background-color: var(--clr-orange-light);
}

.footer-container {
  padding: 80px var(--gap-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-xxl);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.nav-item a {
  font-size: 16px;
  color: var(--clr-dark);
  transition: var(--transition);
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--clr-orange-dark);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
  max-width: 400px;
}

.footer-input-box {
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
}

.footer-input {
  flex: 1;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  background: var(--clr-orange-light);
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  color: var(--clr-dark);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.footer-input::placeholder {
  color: rgba(11, 5, 0, 0.6);
}

.footer-input:focus::placeholder {
  color: transparent;
}

.footer-input:invalid:not(:placeholder-shown) {
  border-color: var(--clr-error) !important;
  color: var(--clr-error) !important;
  background-color: var(--clr-orange-light) !important;
}

.footer-input:valid {
  background-color: #eb9b67 !important;
  border-color: #eb9b67 !important;
  color: var(--clr-dark) !important;
}

.footer-input:focus,
.footer-input:focus-visible {
  background-color: #eb9b67 !important;
  border-color: #eb9b67 !important;
  outline: none;
  color: var(--clr-dark) !important;
}

.footer-input:-webkit-autofill {
  background-color: #eb9b67 !important;
  border: 1px solid #eb9b67 !important;
  -webkit-box-shadow: 0 0 0px 1000px #eb9b67 inset !important;
  -webkit-text-fill-color: var(--clr-dark) !important;
}

.footer-input:-moz-autofill {
  background-color: #eb9b67 !important;
  border: 1px solid #eb9b67 !important;
  color: var(--clr-dark) !important;
}
.footer-btn {
  align-self: flex-start;
  white-space: nowrap;
  cursor: pointer;
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  background-color: transparent;
  border-radius: 4px;
  padding: 11px 24px;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus-visible {
  color: var(--clr-orange-dark);
  border-color: var(--clr-orange-dark);
  background-color: #eb9b67;
}

.btn-error {
  color: var(--clr-error);
  border-color: var(--clr-error);
  background-color: transparent;
}

.btn-success {
  border-color: var(--clr-orange-dark);
  background-color: #9c6037;
}

.footer-remark {
  font-size: 12px;
  line-height: 1.5;
  min-height: 18px;
  color: var(--clr-dark);
}

.remark-default {
  color: var(--clr-dark);
}

.remark-error {
  color: var(--clr-error);
}

.remark-success {
  color: green;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: var(--gap-md);
  color: var(--clr-dark);
}

/* -------768------- */
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    gap: var(--gap-xxl);
  }

  .footer-nav {
    align-items: flex-start;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: var(--gap-xl);
  }

  .footer-form {
    align-items: flex-start;
  }

  .footer-btn {
    align-self: center;
  }
}

/* -------1440------- */

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 120px var(--gap-xxl);
  }
}
