.hero {
  padding-bottom: 32px;
}

.hero .swiper-wrapper {
  border-radius: 8px;
  margin-bottom: 24px;
}

.hero .swiper-slide {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
}

.hero-img-content {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.swiper-slide h3 {
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 28px;
  color: var(--clr-white);
}

.btn-slider {
  display: flex;
  width: 117px;
  height: 20px;

  padding: 4px 10px;

  border: 0.52px solid var(--clr-orange);
  border-radius: 2px;

  font-weight: 400;
  font-size: 8px;
  line-height: 12px;

  color: var(--clr-white);
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  margin-bottom: 24px;
}

.button-next {
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;

  background-color: var(--clr-orange);
}

.icon-left-arrow {
  fill: black;
}

.button-prev {
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;

  background-color: var(--clr-orange);
}

.icon-right-arrow {
  fill: black;
}

@media only screen and (min-width: 768px) {
  .hero-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title-wrapper {
    justify-content: space-between;
  }

  .hero-btn-wrapper {
    gap: 24px;
  }
}
