.heroSwiper {
  opacity: 0;
  transition: var(--transition);
}
.heroSwiper.swiper-initialized {
  opacity: 1;
}

.hero {
  padding-top: 0;
  padding-bottom: 32px;
}

.hero .swiper {
  border-radius: 8px;
}

.hero .swiper-slide {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
}

.hero-page {
  width: 100%;
  height: auto;
}

.hero-img-slide .hero-page {
  border-radius: 8px;
}

.hero-img-content {
  position: absolute;

  bottom: 16px;
  left: 16px;
}

.hero-title-img {
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 28px;
  color: var(--clr-white);
}

.btn-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 117px;
  height: 20px;

  padding: 4px 10px;

  border: 1px solid #e15d05;
  border-radius: 2px;

  font-size: 8px;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  margin-top: 24px;
  margin-bottom: 24px;
}

.hero-title::after {
  content: 'Discover Your\A Next Great Read\A Today!';
  white-space: pre-line;
}

@media only screen and (min-width: 768px) {
  .hero-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
  }

  .hero-title::after {
    content: 'Discover Your Next Great\A Read Today!';
    white-space: pre-line;
  }

  .hero-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    margin-top: 0;
    margin-bottom: 0px;
  }

  .hero-img-content {
    bottom: 40px;
    left: 40px;
  }

  .swiper-slide h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  .btn-slider {
    width: 164px;
    height: 32px;

    border-radius: 4px;

    font-size: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title-wrapper {
    justify-content: space-between;
  }

  .hero-title::after {
    content: 'Discover Your Next Great Read Today!';
    white-space: pre-line;
  }

  .hero-img-content {
    bottom: 56px;
    left: 56px;
  }

  .hero-title-img {
    margin-bottom: 20px;

    font-size: 52px;
    line-height: 62px;
  }

  .btn-slider {
    width: 227px;
    height: 40px;

    font-size: 16px;
  }
}
