.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  padding: 10px;
  transition: var(--transition);
  opacity: 1;
  visibility: visible;
  z-index: 10;

  &:hover svg {
    translate: 0 -5px;
  }
}

.scroll-top.hidden {
  opacity: 0;
  visibility: hidden;
  bottom: -20px;
}

@media screen and (min-width: 768px) {
  .scroll-top svg {
    width: 20px;
    height: 20px;
  }
}
